<form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
  <mat-card>
    <mat-card-header>
      <app-title title="{{title}}"/>
    </mat-card-header>
    <mat-card-content>
      <div class="example-container">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input type="text" formControlName="name" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Lastname</mat-label>
        <input type="text" formControlName="lastname" matInput />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input type="email" formControlName="email" matInput />
        @if (addUserForm.get('email')?.invalid && addUserForm.get('email')?.touched){
          <mat-error >
            @if (addUserForm.get('email')?.errors?.['required']){
              <div>
                Email is required.
              </div>
            }            
            <div *ngIf="addUserForm.get('email')?.errors?.['email']">
              Invalid email address.
            </div>         
          </mat-error>
        }        
      </mat-form-field>
    </div>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" type="submit"> @if (updateUSer)  {Update } @else {Create} </button>
      <button class="button" (click)="onCancel()" mat-button>Cancel</button>
    </mat-card-actions>
  </mat-card>
</form>
