<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>{{title}}</h1>
  <span class="spacer"></span>
  <button mat-button (click)="logout()">Logout</button>
</mat-toolbar>
<mat-sidenav-container autosize>
    <mat-sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'">
      <mat-nav-list>
        @for (item of menuitem; track $index) {          
            <a mat-list-item [routerLink]="item.path" >
                <span class="entry">
                  <mat-icon>{{item.icon}}</mat-icon>
                  @if (!isCollapsed){
                      <span>{{item.title}}</span>
                  }            
                </span>
              </a>
        }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>      
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
